<h2>Minhas Reservas</h2>
<section>
  <h3>Reservas Pendentes:</h3>
  <%= render partial: 'bookings_table', locals: { bookings: @my_bookings_pending } %>

  <% if @my_bookings_pending.empty? %>
    <p>Você não tem reservas pendentes no momento.</p>
  <% end %>
</section> 

<section>
  <h3>Reservas Finalizadas</h3>
  <%= render partial: 'bookings_table', locals: { bookings: @my_bookings_finished } %>

  <% if @my_bookings_finished.empty? %>
    <p>Você não tem reservas finalizadas no momento.</p>
  <% end %>
</section>
