<% @guesthouses.each do |guesthouse| %>
  <div>
    <h2><%= link_to guesthouse.brand_name, guesthouse %></h2>
    <p>Descrição: <%= guesthouse.description %></p>
    <p><%= guesthouse.city %> - <%= guesthouse.state %></p>
  </div>
<% end %>

<% if @guesthouses.empty? %>
  <p>Não existem pousadas cadastradas.</p>
<% end %>
</section>