/* button {
  border: 0;
  background-color: #fff;
  font-size: 16px;
} */

body {
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.0;
  margin: 0px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
}

.guesthouse-container {
  display: flex;
  justify-content: center;
}

.l-guesthouse {
  margin: 50px;
}

.room-container {
  display: flex;
  justify-content: left;
}

.l-room {
  margin: 0px 50px 10px 0px;
}

